@import '../../variables';
$layout-breakpoint-small: 900px;

.sortButton {
  font-family: "Nunito Sans", sans-serif;
  font-size: 13px;
  Button {
    padding: 0 13px;
    height: 52px;
    border: 0;
    font-size: 16px;
    text-align: left;
    width: 250px;
    @media (max-width: $layout-breakpoint-small)  {
      width: 100%; 
    }
  }
  svg {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 17px;
    top: 12px;
  }

  &-svg SVG {
    fill: $light-grey;
  }
  &-svg--clicked SVG {
    fill: white;
  }
}
