@import '../../variables';
.showMore {
  button {
    background-color: white;
    padding: 10px 20px;
    border: 0;
    color: $dark-blue;
    cursor: pointer;
    font-size: 14px;

    &::after {
      margin-left: 10px;
      display: inline-block;
      font-family: monospace;
      font-size: 20px;
      line-height: 10px;
    }
  }

  &-button {
    &::after {
      content: ">";
      transition: transform 0.3s ease-in-out;
    }

    &--open::after {
      content: ">";
      transform: rotate(90deg); /* Initial position */
    }
  }
}
