@import '../../variables';
$layout-breakpoint-small: 900px;

.bookButton {
  text-align: center;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;
  color: $dark-blue;
  min-width: 150px;
  @media (max-width: $layout-breakpoint-small)  {
    min-width: 50px; 
    width: 100%;
  }
  border: 0;
  border-radius: 3px;
  cursor: pointer;

  span {
    display: block;
    font-size: 14px;
  }
}
