@import '../../variables';
$layout-breakpoint-small: 900px;

.sortableInfoCards {

  @media (max-width: $layout-breakpoint-small)  {
    padding: 40px; 
  }
  .offerCardContainer {
    margin-bottom: 25px;
  }
  .sortButton:nth-child(even) Button {
    border-top: 2px solid $light-grey;
    border-bottom: 2px solid  $light-grey;
  }
}
.app-container {
  display: flex;
  height: 100%; /* Adjust as needed */
  justify-content: center;
}

/* Sidebar styles */
.sidebar {
  @media (max-width: $layout-breakpoint-small)  {
    width: 100%; 
  }
  width: 30%;
  padding: 20px 0;
  float: left;
}

/* Content styles */
.content {
  @media (max-width: $layout-breakpoint-small)  {
    width: 100%; 
  }
  width: 70%;
  padding: 20px 0;
  float: left;
}
